 <!-- Navbar -->
 <%- include('partials/navbar', { user }) %>

 <!-- Hero Section -->
 <section class="hero-section">
   <div>
     <h1>Bem-vindo ao Sistema Penitenciário</h1>
     <p>Gerencie detentos, celas, visitas e muito mais.</p>
   </div>
 </section>

 <!-- Features Section -->
 <div class="container mt-5">
    <div class="row">
      <div class="col-md-4">
        <div class="card card-custom text-center p-4">
          <i class="fa-solid fa-user fa-3x mb-3"></i>
          <h4>Detentos</h4>
          <p>Cadastre informações de detentos.</p>
          <a href="detentos/cadastro" class="btn btn-danger">Cadastrar Detentos</a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card card-custom text-center p-4">
         <i class="fa-solid fa-list-ul fa-3x mb-3"></i>
          <h4>Detentos</h4>
          <p>Lista de detentos cadastrado.</p>
          <a href="detentos/lista" class="btn btn-danger">Ver Detentos</a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card card-custom text-center p-4">
          <i class="fa-solid fa-door-closed fa-3x mb-3"></i>
          <h4>Celas</h4>
          <p>Aloque detentos em celas e pavilhões.</p>
          <a href="/celas/aloca" class="btn btn-danger">Ver Celas</a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card card-custom text-center p-4">
          <i class="fa-solid fa-chart-line fa-3x mb-3"></i>
          <h4>Relatórios</h4>
          <p>Gerar relatórios de ocupação e atividades.</p>
          <a href="/relatorios/ocupacao" class="btn btn-danger">Ver Relatórios</a>
        </div>
      </div>
    </div>
  </div>

 <!-- Footer -->
 <%- include('partials/footer') %>