.animated-button {
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  }
  .animated-button:hover {
    transform: scale(1.1);
    box-shadow: 0 8px 16px rgba(255, 0, 0, 0.3);
  }

 
  .table-responsive {
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  .table-dark thead th {
    background-color: #1c1c1c;
    border-bottom: 2px solid #343a40;
  }
  .table-dark tbody tr:hover {
    background-color: #2d2d2d;
  }
  .icon-nivel-acesso {
    font-size: 1.2rem;
    margin-right: 5px;
  }
  .alert {
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  .card {
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }